<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Books Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="toggleBlock()">Add Book <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchBooks(key.value)" #key="ngModel" ngModel
      name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Books..." required>
     </form>
  </div>
</nav>

<div [hidden]="hidenBlock">
    <form (ngSubmit)="createBlock()">
      
      <div class="headerForm">Add Book :</div>
      <label for="">Name :</label>
      <input type="text" placeholder="name" [(ngModel)]="inputValue.name" name="name">
      <label for="">Price :</label>
      <input type="text" placeholder="price" [(ngModel)]="inputValue.price" name="price">
      <label for="">Quantity :</label>
      <input type="text" placeholder="quantity" [(ngModel)]="inputValue.quantity" name="quantity">
      <label for="">ImageURL :</label>
      <input type="text" placeholder="imageURL" [(ngModel)]="inputValue.imageURL"  name="imageURL">

      <button    type="submit"   >Add book</button>
    </form>
</div>

<div [hidden]="hidenUpdateBlock">
  <form (ngSubmit) = "editBlock(inputValueUpdated)">
    
    <div class="headerForm">Update Book :</div>
    <label for="">Name :</label>
    <input type="text" placeholder="name" [(ngModel)]="inputValueUpdated.name" name="name" value>
    <label for="">Price :</label>
    <input type="text" placeholder="price" [(ngModel)]="inputValueUpdated.price" name="price">
    <label for="">Quantity :</label>
    <input type="text" placeholder="quantity" [(ngModel)]="inputValueUpdated.quantity" name="quantity">
    <label for="">ImageURL :</label>
    <input type="text" placeholder="imageURL" [(ngModel)]="inputValueUpdated.imageURL"  name="imageURL">

    <button    type="submit"   >Edit book</button>
  </form>
</div>


<div class="container" id="main-container">
<div class="row">
  <div *ngFor="let book of books" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-6">
              <a href=""><img src="{{book?.imageURL}}" alt="" class="img-fluid w-60"></a>
           </div>
           <div class="col-6 align-self-center mb-0">
              <h5>{{book?.name}}</h5>
           </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price : {{book?.price}}</li>
        </ul>
          <li class="list-group-item">Quantity :{{book?.quantity}}</li>
          <div class="card-body">
              <div class="float-right btn-group btn-group-sm">
                <a  class="btn btn-primary tooltips" (click)="attributeObject(book)"><i class="fa fa-pencil"></i> </a>
                <a  class="btn btn-secondary tooltips"  (click)="deleteBlock(book)" ><i class="fa fa-times"></i></a>

              </div>
           </div>
     </div>
     
  </div>
</div>








<!-- Notification for no employees -->
<div class="alert alert-info" >
  <h4 class="alert-heading">Welcome To Our BookManager</h4>
  <p>Feel Free To Manage your Books</p>
</div>
</div>